
          <div   >
          <!-- Container for demo purpose -->
          <div class="container my-24 py-9 mx-auto md:px-6  bg-fixed bg-no-repeat rounded-lg "
          style="background-image:url('../assets/img/bg.jpg');background-size: 1800px 800px;">
            <!-- Section: Design Block -->
            <section class="mb-32">
              <!-- Jumbotron -->
              <div class="container mx-auto text-center lg:text-left xl:px-30 ">
                <div class=" grid items-center lg:grid-cols-2">
                  <div class="mb-12 lg:mb-0">
                    <div
                      class="relative z-[1] block rounded-lg bg-[hsla(0,0%,100%,0.55)] px-6 py-12 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] backdrop-blur-[30px] dark:bg-[hsla(0,0%,5%,0.55)] dark:shadow-black/20 md:px-12 lg:-mr-14">
                      <h2 class="mb-2 text-3xl font-bold text-white">Hi, I'm Vuk!</h2>
                      <div class="circle flex god items-center ">
                        <div class="p-5 ">
                          <a href="https://www.linkedin.com/in/vuk-mladenovi%C4%87-a39922245/" target="_blank">
                            <svg 
                          xmlns="http://www.w3.org/2000/svg"
                          class="h-7 w-7 p-1"
                          fill="currentColor"
                          style="color: #0077b5"
                          viewBox="0 0 24 24">
                          <path
                            d="M4.98 3.5c0 1.381-1.11 2.5-2.48 2.5s-2.48-1.119-2.48-2.5c0-1.38 1.11-2.5 2.48-2.5s2.48 1.12 2.48 2.5zm.02 4.5h-5v16h5v-16zm7.982 0h-4.968v16h4.969v-8.399c0-4.67 6.029-5.052 6.029 0v8.399h4.988v-10.131c0-7.88-8.922-7.593-11.018-3.714v-2.155z" />
                        </svg>
                          </a>
                          
                      </div>
                        <div class="p-2">
                          <a href="https://github.com/wolfvxerxz" target="_blank">
                            <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="h-7 w-7 "
                            fill="currentColor"
                            style="color: #646464 "
                            viewBox="0 0 24 24">
                            <path
                              d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z" />
                          </svg>
                          </a>
                        
                        </div>
                      
                      </div>

                      

                      <p class="pb-2 text-neutral-500 dark:text-neutral-300">
                        As an aspiring web/graphic designer and video editor, I am looking for an opportunity to utilise my skill set and infuse creativity into every pixel. With a blend of a deep understanding of design principles and knowledge of website and email programming, I bring a strong work ethic, a keen sense of responsibility and a quick ability to learn.
                      </p>
                    
                    <p class="mb-0 text-neutral-500 dark:text-neutral-300">
                      Explore my diverse portfolio specialising in graphic design, branding, video editing and coding. I look forward to the opportunity to work with you and contribute to your team's success. Let us work together!
                    </p>
                  
                    </div>
                  </div>

                  <div class="wrapper">
                    <svg class="svg ">
                      <text x="50%" y="50%" dy=".35em"  text-anchor="middle">
                        VM
                      </text>
                    </svg>
                  </div>

                
                </div>
              </div>
              <!-- Jumbotron -->
            </section>
            <!-- Section: Design Block -->
          </div>
          <!-- Container for demo purpose -->

          <!-- Container for demo purpose -->
          <div class="container px-15 gap-1 my-26 mx-auto md:px-6 place-items-center lg:text-left  "  >
          <section class="flex gap-10  justify-center items-center lg:grid-cols-3 place-items-center">
            <div class="max-w-sm p-6 my-5 bg-white border border-gray-200 rounded-lg shadow dark:bg-[hsla(0,0%,5%,0.55)] dark:shadow-black/20 dark:border-gray-700">
              <a href="#">
                  <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Email Design's</h5>
              </a>
              <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Email designed using Adobe Photoshop and Adobe XD </p>
              <a href="https://www.figma.com/file/yzQi5Ea2hWAw1Eb4HC6lNh/My-Work?type=design&mode=design&t=XfmAwxoK2a7GwgLx-1" target="_blank" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-500 hover:bg-blue-600 active:bg-blue-700 focus:outline-none focus:ring focus:ring-blue-300">
                  View project
                  <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                  </svg>
              </a>
            </div>
            
            
            
            <div class="max-w-sm p-6 my-5 bg-white border border-gray-200 rounded-lg shadow dark:bg-[hsla(0,0%,5%,0.55)] dark:shadow-black/20 dark:border-gray-700">
              <a href="#">
                  <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Website Design's</h5>
              </a>
              <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"> Design made for boosting and coaching site for League of Legend's</p>
              <a href="https://www.figma.com/file/CsBKxOnXnTBBL22whTdnyR/RETRO-BOOSTING.?type=design&node-id=0%3A1&mode=design&t=gqCqAhtPnmLtZdoI-1" target="_blank" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-500 hover:bg-blue-600 active:bg-blue-700 focus:outline-none focus:ring focus:ring-blue-300">
                  View project
                  <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                  </svg>
              </a>
            </div>
            
            
            
            <div class="max-w-sm p-6 my-5 bg-white border border-gray-200 rounded-lg shadow dark:bg-[hsla(0,0%,5%,0.55)] dark:shadow-black/20 dark:border-gray-700">
              <a href="#">
                  <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Video Edit's</h5>
              </a>
              <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Video anime edits for tiktok platform,using Vegas Pro/CapCut and Adobe Premiere Pro</p>
              <a href="https://www.tiktok.com/@feitanxerx" target="_blank" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-500 hover:bg-blue-600 active:bg-blue-700 focus:outline-none focus:ring focus:ring-blue-300">
                  View project
                  <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                  </svg>
              </a>
            </div>
          </section>



          </div>
          <!-- Container for demo purpose -->


          <section  >
            <div class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6" data-aos="fade-in" data-aos-duration="1500">
            
                <img class="w-full hidden dark:block" src="../assets/img/hero1.png" alt="dashboard image">
                <div class="mt-4 md:mt-0">
                    <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">RetroBoosting Website</h2>
                    <p class="mb-6 font-light text-gray-500 md:text-lg dark:text-gray-400">Designed sophisticated, responsive  League of Legends boosting and coaching. Elevate with elegance, precision, and distinction</p>
                    <a href="https://retro-boosting.vercel.app/" target="_blank" class="inline-flex items-center text-white bg-zinc-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:focus:ring-primary-900">
                        View Website
                        <svg class="ml-2 -mr-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    </a>
                </div>
            </div>
          </section>
          <section >
          <div class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6" data-aos="fade-in"  data-aos-duration="2000">
            
              <div class="mt-4 md:mt-0">
                  <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Email Design for Amenify</h2>
                  <p class="mb-6 font-light text-gray-500 md:text-lg dark:text-gray-400">
                    One of the designs I created for a client stands out as not only a personal favorite but also as one of my most successful projects.</p>
                  <a href="https://www.figma.com/file/yzQi5Ea2hWAw1Eb4HC6lNh/My-Work?type=design&node-id=7%3A2&mode=design&t=Uox1IvGnWJtpXD0u-1" target="_blank" class="inline-flex items-center my-5 text-white bg-zinc-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:focus:ring-primary-900">
                      View Design
                      <svg class="ml-2 -mr-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                  </a>
              </div>
              <img class="w-full dark:hidden" src="../assets/img/design.png" alt="dashboard image">
              <img class="w-full hidden dark:block" src="../assets/img/design.png" alt="dashboard image">
          </div>
          </section>
          </div>